.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hellowrld {
  text-align: center;
  font-size: larger;
}
.maintodo {
  background-color: rgb(64, 170, 212);
  margin-left: 30%;
  margin-right: 30%;
  border: 0.4em ridge rgba(29, 84, 129, 0.404);
}
.maintodo h1 {
  font-family: Harrington;
}
.widget {
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  counter-reset: li;
  background-color: rgba(27, 182, 169, 0.418);
  background-size: cover;
}

.widget li {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 0.3em;
  border: 3px solid #cadfcf;
  padding: 0.6em;
  border-radius: 4px;
  background: #fefefe;
  color: #231f20;
  font-family: "Trebuchet MS", "Lucida Sans";
  width: 80%;
}

.input {
  margin-left: 3%;
}

.button {
  background: rgba(61, 199, 187, 0.418);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3%;
}

.crossed-line {
  text-decoration: line-through;
}

.successtrue {
  visibility: hidden;
}
.successfalse {
  color: rgb(255, 0, 0);
}

.loginform {
  display: inline-block;
  background-color: rgba(0, 47, 255, 0.219);
  margin: auto;
  position: absolute;
  top: 47%;
  vertical-align: middle;
  margin-top: -13em;
  margin-left: -12em;
  width: 25em;
  height: 20em;
  border: 4mm ridge rgba(100, 13, 112, 0.651);
  box-shadow: 0 -200px 100px -120px rgb(48, 22, 161) inset;
  animation: border linear 6s infinite;
}

@keyframes border {
  50% {
    background: rgb(152, 44, 167);
    box-shadow: 0 -200px 100px -100px rgb(108, 47, 179) inset;
  }
}

.loginform h1 {
  font-family: Harrington;
  color: rgb(231, 231, 231);
  font-size: 30px;
  text-shadow: 3px 5px 6px rgb(0, 0, 0);
}
.loginform button {
  background-color: #dfd441;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 0.6em;
  padding: 14px 40px;
  border-radius: 12px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}

.loginform input {
  border: 0.3em ridge rgb(150, 48, 96);
  border-radius: 12px;
}
